body {
  background-color: #eeeeee;
}

hr {
  text-align: left;
  margin-left: 0;
  background-color: #eeeeee;
  border-color: #214252;
  border-style: dotted none none none;
  border-width: 8px;
  width: 60%;
}

.heading1 {
  color: #214252;
}

h3 {
  color: #af2d2d;
}
a {
  text-decoration: none;

}

.capitalize {
  text-transform: capitalize;
}

.backlink {
  font-size: 75px;
}

a:hover {

  color: brown;

}
